@use '../abstracts/tokens' as *;

.rating {
  max-inline-size: 40ch;
  padding: $s2;

  &__options-container {
    display: flex;
    gap: min(3vw, $s0);
  }

  &__option {
    aspect-ratio: 1;
    border-radius: 50%;
    flex-grow: 1;
    background-color: $dark-blue;
    color: $medium-grey;
    font-weight: 700;
    transition: all 0.1s linear;
    cursor: pointer;

    &:hover {
      background-color: $medium-grey;
      color: $pure-white;
    }
  }

  &__label {
    display: grid;
    place-items: center;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type='radio'] {
    &:focus + label {
      background-color: $medium-grey;
      color: $pure-white;
    }

    &:checked + label {
      background-color: $orange;
      color: $pure-white;
    }
  }

  &[data-invalid] {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0, 0.23, 1, 0.71);
    animation-name: head-shake;
    // transform-orgin: center bottom;
  }
}
